/* Styling av input boksene som vist på obligen */
label {
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 10px;
}
input {
    width: 100px;
    margin-bottom: 5px;
}
#antall {
    width: 50px;
}
.oppgave {
    border-style: solid;
    border-color: blue;
    padding-bottom: 50px;
    padding-left: 5px;
    width: 400px;
}